In [1]:
# Question 1
# Create a variable age and assign it the value 25 . Then print the value of age along with its data type using the type() function.

age = 25

In [4]:
print(age)

25

In [5]:
type(age)

int

In [8]:
# Question 2
# Assign the number 12.5 to a variable price . Print both the variable and its data type.
# Then assign the value 12 to the same variable and print its data type again. What do you observe?

Price = 12.5
print(Price)
type(Price)

12.5

float

In [1]:
Price = 12
print(Price)
type(Price)

# This means the data type of a variable can change based on the value assigned to it.

12

int

In [32]:
# Question 3
# Create a variable is_raining and set it to True . Print the value of the variable along with its type.
# Then set is_raining to False and print the new value and type.

is_raining = True
print(is_raining)
type(is_raining)

True

bool

In [19]:
is_raining = False
print(is_raining)
type(is_raining)

False

bool

In [25]:
# Question 4
# Create a variable my_name and store your full name in it as a string.
# Then print the value of my_name using single quotes ' .

my_name = "Maithili Bhagwat Gajbhiye"

In [13]:
my_name

'Maithili Bhagwat Gajbhiye'

In [31]:
# Question 5
# Write a Python program that asks the user for their name and age using the input() function.
# Store the inputs in variables and print a sentence like "Hello, [Name]! You are [Age] years old." 
# Ensure you cast the age to a integer.

name = input("Enter your Name")
age = int(input("Enter your Age"))
print("Hello", name,"!" ,"You are", age,"years old.")

Enter your Name Maithili
Enter your Age 22

Hello Maithili ! You are 22 years old.

In [47]:
# Question 6
# Create two variables x and y and assign them the values 10 and 3.5 ,respectively. 
#Print their values and types. Then, create a new variable sum_xy and store the sum of x and y .Print the result and its type.

x = 10
y = 3.5

In [40]:
x

10

In [36]:
y

3.5

In [41]:
type(x)

int

In [42]:
type(y)

float

In [43]:
sum_xy = x+y

In [44]:
print(sum_xy)

13.5

In [45]:
type(sum_xy)

float

In [54]:
# Question 7
# Using the type() function, check and print the data type of the following:
# 45.0
# "hello"
# None
# False

type(45.0)

float

In [51]:
type("hello")

str

In [52]:
type(None)

NoneType

In [53]:
type(False)

bool

In [61]:
# Question 8
# Write a Python program to print three strings "apple" , "banana" , and "cherry" on the same line, eparated by a space.
# Then modify the program to separate the strings using a comma , instead of a space.

print("apple" , "banana" ,"cherry",sep=" ")

print("apple" , "banana" ,"cherry",sep=",")

apple banana cherry
apple,banana,cherry

In [5]:
# Question 9
# Create a variable big_number and assign it a very large integer value (e.g., 987654321987654321 ). 
# Print the value and its type. What do you notice about the size of the number?

big_number = 987654321987654321

In [6]:
big_number

987654321987654321

In [8]:
type(big_number)
# Python's int type can handle arbitrarily large integers

int

In [67]:
# Question 10
# Write a Python program that prints the result of multiplying two floats (e.g.,2.5 and 3.7 ). 
# Then check and print the data type of the result.

x = 2.5
y = 3.7
mul = (x*y)
print(mul)

9.25

In [69]:
type(mul)

float